<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="body">
<header class="header">
    <div class="h1">
        <div>
            <h1 style="font-family: 'Neucha', cursive;">Чайный домик</h1>
        </div>
        <div class="tel">
            <div class="tel1">
                <p>Телефон:</p>
                <p>8-909-200-08-08</p>
            </div>
            <div class="tel1">
                <p>Почта:</p>
                <p>teahouse@mail.ru</p>
            </div>
        </div>
    </div>
    <div class="head">
        <form method="get" th:action="@{/admin/person}">
            <input class="button1" type="submit" value="Информация о пользователях">
        </form>
        <form method="get" th:action="@{/admin/orders}">
            <input class="button1" type="submit" value="Заказы">
        </form>

        <form method="get" th:action="@{admin/product/add}">
            <input class="button1" type="submit" value="Добавить товар">
        </form>
        <form method="get" th:action="@{/admin}">
            <button class="button1" type="submit">В личный кабинет</button>
        </form>
    </div>
</header>
<main class="main">
    <fieldset class="add">
        <legend><h3>Редактирование товара</h3></legend>
        <form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}"
              enctype="multipart/form-data">
            <div class="edit">
                <label for="title">Введите наименование товара: </label>
                <input type="text" th:field="*{title}" placeholder="Наиманование" id="title">
                <div style="color: red" th:if="${#fields.hasErrors('title')}"
                     th:errors="*{title}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="description">Введите описание товара: </label>
                <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="price">Введите цену товара: </label>
                <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
                <div style="color: red" th:if="${#fields.hasErrors('price')}"
                     th:errors="*{price}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="weight">Введите вес товара: </label>
                <input type="number" th:field="*{weight}" min="1" step="0.00" placeholder="Вес" id="weight">
                <div style="color: red" th:if="${#fields.hasErrors('weight')}"
                     th:errors="*{weight}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="warehouse">Введите склад, на котором расположен товар: </label>
                <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
                <div style="color: red" th:if="${#fields.hasErrors('warehouse')}"
                     th:errors="*{warehouse}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="category">Выберите категорию товара: </label>
                <select name="category" th:field="*{category}" id="category">
                    <div th:each="element : ${category}">
                        <option th:text="${element.getName()}" th:value="${element.getId()}">
                    </div>
                </select>
                <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
            </div>
            <br>
            <br>
            <div class="edit">
                <label for="seller">Введите данные о продавце: </label>
                <textarea th:field="*{seller}" placeholder="Продавец" id="seller"
                ></textarea>
                <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
            </div>
            <br>

            <input class="button" type="submit" value="Редактировать">
        </form>
    </fieldset>
</main>
<footer class="footer">

    <ul>
        <li>Компания</li>
        <li>О компании</li>
        <li>Новости</li>
        <li>Политика</li>
        <li>Публичная оферта</li>
    </ul>
    <ul>
        <li>Информация</li>
        <li>Как сделать заказ</li>
        <li>Оплаты</li>
        <li>Доставка</li>
        <li>Гарантия</li>
    </ul>
    <ul>
        <li>Популярные категории</li>
        <li>Какао</li>
        <li>Кофе</li>
        <li>Чай</li>
    </ul>
    <ul>
        <li>О чае и кофе</li>
        <li>Помощь</li>
        <li>Вопрос-ответ</li>
    </ul>
</footer>
</div>
</body>
</html>